

nav{
    margin-top: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.title {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.titleIcons{
    text-align: center;
}

h1,h2,h3 {
    font-weight: 450;
    color: #252321;
}

.img-container{
    position: relative;
    width:50%;
    margin: auto;
}
.img-container div{
    position: relative;
    width:100%;
}

.img-container div img{
    position: relative;
    width:100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


nav a, nav a:hover{
    background-color: #9aaa9a;
    box-shadow:2px 2px 2px #5a5f5a;
    color: #252321;
    display: inline-block;
    width: 120px;
    height:50px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    line-height: 120%;
}


.Centered
{
    vertical-align: middle;
    display: inline-block;
}

.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

nav a:hover{
    background-color: #8d9a8d;
}

body{
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Tomorrow", sans-serif;
    background-color: #d3cbc4;
    color: #252321; 
}

.project{
    background-color: #9aaa9a;
    height:auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow:5px 5px 5px #5a5f5a;
    display: flex;               
    align-items: center;          
    justify-content: space-between;
    margin-bottom: 20px;
}

.container{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:100%;
    max-width: 1000px;
    position: relative;
     margin: auto;
}

.text-container{
    width:50%
}

.slides1, .slides2,.slides3.slides4{
    display:none;
}

.prev,.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev{
   left:0;
   z-index: 1000;
}

.next{
    right:0;
    border-radius:3px 0 0 3px;
    z-index: 1000;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.numberText {
    position:absolute;
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}


  